<!--

  <div class="row">

    <button
      routerLink="/saveWork"
      pButton
      pRipple
      label="SAVE WORK"
      class="p-button-raised set-center p-button-warning p-button-rounded"
    ></button>
  </div>
  <div class="row">

    <button
      routerLink="/project"
      pButton
      pRipple
      label="PROJECT"
      class="p-button-raised set-center p-button-success p-button-rounded"
    ></button>
  </div>

  <div class="row">
    <button
      routerLink="/jobtype"
      pButton
      pRipple
      label="JOB TYPE"
      class="p-button-raised set-center p-button-warning p-button-rounded"
    ></button>
  </div>




<div>
  <img src="../../assets/pic/product.png" alt="">
</div> -->



<head>

</head>
<body>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="../../assets/pic/bg6.jpg" alt="New York" width="1920" height="400">

      </div>


    </div>

</div>


  <div class="container text-center">
    <h2 >Welcome To Save Work</h2>
    <p><em>We love SourceCode !</em></p>
    <p>Don't forget to save your work every day.</p>
    <br>
    <div class="row">
      <div class="col-sm-3">
        <p class="text-center" ><strong>SAVE WORK</strong></p><br>
        <a href="./saveWork" data-toggle="collapse">
          <img src="../../assets/pic/monitor.png" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>

      </div>
      <div class="col-sm-3">
        <p class="text-center" ><strong>PROJECT</strong></p><br>
        <a href="./project" data-toggle="collapse">
          <img src="../../assets/pic/monitor.png" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>

      </div>
      <div class="col-sm-3">
        <p class="text-center" ><strong>JOB TYPE</strong></p><br>
        <a href="./jobtype" data-toggle="collapse">
          <img src="../../assets/pic/monitor.png" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>

      </div>

      <div class="col-sm-3">
        <p class="text-center" ><strong>Calculate Time</strong></p><br>
        <a href="./calhour" data-toggle="collapse">
          <img src="../../assets/pic/monitor.png" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>

      </div>

    </div>
  </div>

</body>
<br>
<br>
<br>


<div
  id="footer"
  style="color: ghostwhite"
  class="footer-copyright text-center py-3"
>
  © 2020 Copyright: Theball
</div>
